<ion-content>
  <fa-icon icon="dove"></fa-icon>
  <ion-label class="title">Daily Gratitude</ion-label>
  <ion-item>
    <span item-right><ion-icon name="create"></ion-icon></span>
    <ion-input type="text" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <span item-right><ion-icon name="create"></ion-icon></span>
    <ion-input type="text" placeholder="Password"></ion-input>
  </ion-item>
  <ion-label
    >Don't have an account? <a (click)="registerClick()">Register</a></ion-label
  >
  <ion-button color="white" (click)="loginClick()" fill="white">
    Login
  </ion-button>
</ion-content>
