ion-content {
  --ion-background-color: #191820;
}

fa-icon {
  color: white;
}

.title {
  color: white;
}

ion-button {
  --ion-background-color: white;
}

ion-input {
  --ion-background-color: white;;
}
