:root {
  --ion-color-secondary: #006600;
  --ion-color-secondary-rgb: 0, 102, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #005a00;
  --ion-color-secondary-tint: #1a751a;
}

ion-content {
  --ion-background-color: #18171f;
}

fa-icon {
  color: white;
}

.title {
  color: white;
  font-size: 2.6rem;
  text-align: center;
}

.title-container {
  height: 10vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  align-items: flex-end;
  height: 30vh;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-margin-end {
  margin-right: 3%;
}

.content-container {
  width: 100%;
}

.register-button {
  color: white;
  margin-left: 1vw;
  text-decoration: none;
}

.item-input {
  width: 80vw;
  --border-width: 1px;
  --border-color: rgba(255, 255, 255, 0.5);
  --border-radius: 5px;
  color: #6d6d78;
  --highlight-background: rgba(255, 255, 255, 0.5);
}

.account-label {
  color: #6d6d78;
}

.no-bg {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: transparent;
}

.login-button {
  color: #6d6d78;
  --background: white;
  width: 80vw;
  height: 8vh;
}

ion-button {
  --ion-background-color: white;
}

ion-input {
  --ion-background-color: white;
}
