<ion-content>
  <ion-grid class="main">
    <ion-row>
      <ion-col class="center icon-container">
        <fa-icon offset-sm="4" icon="dove" size="7x"></fa-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center title-container">
        <ion-label class="title">Daily Gratitude</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="parent-container">
        <ion-item class="item-input">
          <ion-icon
            name="person"
            slot="start"
            class="icon-margin-end"
          ></ion-icon>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="parent-container">
        <ion-item class="item-input" input>
          <ion-icon
            class="icon-margin-end"
            name="lock-closed"
            slot="start"
          ></ion-icon>
          <ion-input type="text" placeholder="Password"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="parent-container">
        <ion-item color="transparent">
          <ion-label class="account-label">Don't have an account?</ion-label>
          <a class="register-button" [routerLink]="'register'">Register</a>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="parent-container">
        <ion-button class="login-button" (click)="loginClick()">
          <ion-label>Sign In</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
