ion-content {
  --ion-background-color: #18171f;
}

fa-icon {
  --color: white;
}

.title {
  --color: white;
  font-size: 2.6rem;
  text-align: center;
}

.title-container {
  margin-top:2vh;
  height: 10vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  align-items: flex-end;
  height: 30vh;
}

.fields-container {
  height: 35vh;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-margin-end {
  margin-right: 3%;
}

.content-container {
  width: 100%;
}

.register-button {
  color: white;
  margin-left: 1vw;
  text-decoration: none;
}

.item-input {
  width: 80vw;
  --border-width: 1px;
  --border-color: rgba(255, 255, 255, 0.5);
  --border-radius: 15px;
  --color: #6d6d78;
  --highlight-background: rgba(255, 255, 255, 0);
}

.account-label {
  --color: #6d6d78;
}

.login-button {
  --color: black;
  --background: white;
  --border-radius: 15px;
  font-weight: 700;
  font-size: 20px;
  width: 80vw;
  height: 8vh;
}
